.information {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    padding: 1.5rem;
}

.bold {
    font-weight: bold;
}

.disabled {
    color: #ced4da;
}

.tender-part, .tender-part-footer {
    border-radius: 0;
    padding: 1rem;
    border-bottom: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.info {
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    font-family: sans-serif;
    text-align: center;
}

#tender-info.table td {
    padding: 0;
}

#tender-info.table td.name{
    padding: 0.5rem;
    text-align: left;
    color: #495057;
}

.custom-input {
    border: none !important;
}

.tender-part-footer {
    padding: .4rem .4rem .4rem 1rem;
    background-color: #d3d7db;
    border: 1px solid #ced4da;
}

.tender-part:first-child {
    margin-top: 1rem;
}

.end-date {
    color: #b4b4b4;
    font-family: sans-serif;
    margin-bottom: 1rem;
}

.h5-start-price {
    color: #b4b4b4;
    margin-bottom: 0;
}

.h5-customer {
    color: #41484e;
    font-family: sans-serif;
}

.start-price {
    color: #41484e;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}

.date-created, .date-updated {
    font-family: sans-serif;
}

.tender-show {
    border-bottom: 1px solid #ced4da;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.tender-number {
    padding: .4rem .4rem .4rem 0;
    font-family: sans-serif;
    margin-bottom: 0;
}

.tender-customer, .tender-manager {
    text-transform: uppercase;
    color: #b4b4b4;
}

.tender-manager {
    color: #41484e;
}

.tender-name {
    color: #41484e;
    font-family: sans-serif;
    text-transform: uppercase;
}

h5.tender-number {
    font-weight: bold;
}

h5.tender-number a{
    color: #41484e;
}

.courier-info, .manager-info, .customer-info {
    border-right: 1px solid  #ced4da;
    text-align: center;
    padding: .4rem;
    color: #9c9c9c;
}

.add-customers, .new-customer {
    background-color: #fff;
    border: none;
}

.edit {
    margin-right: 1rem;
}

.tender-number-head, .tender-courier-info, .tender-customer-info, .tender-manager-info {
    text-align: center;
    color: #9c9c9c;
    padding: 0 0 0.7rem 0;
}

.dropdown-menu {
    padding: 1rem;
}
